<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Testing out my orange bits extension</title>
        <link rel="stylesheet" type="text/css" href="lessTest.css" />
        <link rel="stylesheet" type="text/css" href="sassTest.css" />
        <link rel="stylesheet" type="text/css" href="scssTest.css" />
    </head>
    <body>
        <div class="lessBox">Here is a box styled using less</div>
        <div class="sassBox">Here is a box styled using sass</div>
        <div class="scssBox">Here is a box styled using scss</div>
        <div class="coffeeBox">You can't explain this</div>
        <script type="text/javascript" src="coffeeScriptTest.js"></script>
    </body>
</html>
